@mixin resultBox {
padding:1rem 1rem 0 1rem;
border-radius:0.5rem;
background:#fff;
border: 1px solid #d6d4d4; height: 100%;}

@mixin background {
    background: #dfe5f3;
    background: -webkit-linear-gradient(top left, #dfe5f3, #fefefe);
    background: -moz-linear-gradient(top left, #dfe5f3, #fefefe);
    background: linear-gradient(to bottom right, #dfe5f3, #fefefe);
}

@mixin heading {
    font-size: 1.2rem; font-weight: bold; padding:0 0 0.5rem
}